menu "Touchscreen"
	depends on INPUT_TOUCHSCREEN

config TOUCHSCREEN_EDT_FT5X06_MI845
	tristate "EDT FocalTech FT5x06 I2C Touchscreen support"
	depends on I2C
	select REGMAP_I2C
	help
	  Say Y here if you have an EDT "Polytouch" touchscreen based
	  on the FocalTech FT5x06 family of controllers connected to
	  your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called edt-ft5x06.

source "techpack/mi845/input/touchscreen/focaltech_touch_mi/Kconfig"
source "techpack/mi845/input/touchscreen/nt36xxx/Kconfig"
source "techpack/mi845/input/touchscreen/nt36xxx_los/Kconfig"
source "techpack/mi845/input/touchscreen/fts_521/Kconfig"

endmenu
